$main-color: rgb(255, 78, 0);
$secondary-color: rgb(236, 159, 5);
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;
$green-color: #00ffaa;
$green-color-hover: #0fe29c;

$gradient: linear-gradient(45deg, rgba(255, 78, 0, 0.6), rgba(236, 159, 5, 0.75));
$gradient-solid: linear-gradient(45deg, rgb(255, 78, 0), rgb(236, 159, 5));
